.top-spenders {
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  height: 100%;
  border: 1px solid var(--common-border-color);
  text-wrap-mode: nowrap;
  display: flex;
  flex-direction: column;
  
  .card-header {
    padding: 16px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: fit-content;
    border-bottom: 1px solid var(--common-border-color);;
    
    .card-title {
      font-size: 20px;
      font-weight: 400;
      color: var(--user-stats-title-color);
    }
    
    .time-selector {
      display: flex;
      align-items: center;
      color: var(--text-muted);
      border-radius: 6px;
      overflow: hidden;
    }
  }
  
  .card-body {
    padding: 8px 0px;
    
    .list-header {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      font-size: 12px;
      color: var(--text-muted);
      font-weight: 500;
      border-bottom: 1px solid var(--border-color);
      padding: 0px 24px 0px 24px;
      
      .header-username {
        flex: 1;
      }
      
      .header-amount {
        text-align: right;
      }
    }
    
    .user-list {
      overflow-y: auto;
    }
  }
}