<!-- <router-outlet></router-outlet> -->
<div class="main-container">
    <div class="sidebar-container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-container">
        <div class="header-container">
            <app-header></app-header>
        </div>
        <div class="scrollable-container">
            <app-dashboard class="container"></app-dashboard>
            <app-contact-page></app-contact-page>
            <app-footer></app-footer>
        </div>
    </div>
</div>