:root {
    --card-bg : #fff;
    --stats-text-color: #1B1D21;
    --stats-link-color: #25A79C;
    --stats-link-underline-color: #17696233;
    
    --text-muted: #6C757D;
    --common-border-color : #E3EAF4;

    --user-stats-title-color: #2D2A2B;
    --dropdown-menu-bg : #fff; 
    --dropdown-row-seperator : #E3EAF4; 
    --dropdown-menu-item-hover : #25A79C; 
    --dropdown-menu-item-hover-text : #fff; 

    --btn-hover-bg : #d4dee7;
    --badge-danger: red;

    --widget-bg-color: #fff;
    --body-bg-color: #EEF3F7;
  }

  body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/static/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
  }
  